# 忽略所有子目录下的 .bak 文件
*.bak

# 忽略所有子目录下的 .ddk 文件
*.ddk

# 忽略所有子目录下的 .edk 文件
*.edk

# 忽略所有子目录下的 .lst 文件
*.lst

# 忽略所有子目录下的 .lnp 文件
*.lnp

# 忽略所有子目录下的 .mpf 文件
*.mpf

# 忽略所有子目录下的 .mpj 文件
*.mpj

# 忽略所有子目录下的 .obj 文件
*.obj

# 忽略所有子目录下的 .omf 文件
*.omf

# 忽略所有子目录下的 .plg 文件
*.plg

# 忽略所有子目录下的 .rpt 文件
*.rpt

# 忽略所有子目录下的 .tmp 文件
*.tmp

# 忽略所有子目录下的 .__i 文件
*.__i

# 忽略所有子目录下的 .crf 文件
*.crf

# 忽略所有子目录下的 .o 文件
*.o

# 忽略所有子目录下的 .d 文件
*.d

# 忽略所有子目录下的 .axf 文件
*.axf

# 忽略所有子目录下的 .tra 文件
*.tra

# 忽略所有子目录下的 .dep 文件
*.dep

# 忽略所有子目录下的 JLinkLog.txt 文件
JLinkLog.txt

# 忽略所有子目录下的 .iex 文件
*.iex

# 忽略所有子目录下的 .htm 文件
*.htm

# 忽略所有子目录下的 .sct 文件
*.sct

# 忽略所有子目录下的 .map 文件
*.map
